body {
    background-color: hsl(228, 56%, 26%);
}

.card {
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 8px 20px -1px rgba(96, 104, 121, 0.808);
    border-radius: 0.5rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 80%;
    max-width: 30rem;
}
.card form {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    padding: 0.5rem 0
}

.card h1 {
    text-align: center;
    padding: 1.5rem 0;
}

.login {
    outline: none !important;
    border: none;
    border-bottom: 0.1rem solid gray;
    display: flex;
    height: 2rem;
    font-size: 1rem;
}
.login::placeholder {
    font-size: 1rem;
}

.login-btn {
    background-color: rgb(3, 155, 182);
    border: 0.1rem solid rgb(3, 155, 182) ; 
    padding: 1rem 0;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
.login-btn:hover {
    color:rgb(3, 155, 182);
    background-color: white;
}